.card {
  font-size: 15px;
  color: whitesmoke;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.btn {
  color: yellow;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

h2 {
  color: red;
  text-align: center;
  font-weight: bold;
}

body {
  justify-items: center;
  background-image: url("../Images/cc.jpg");
  background-size: cover;
  height: 600px;
  width: 600px;
  background-repeat: no-repeat;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
